main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 96px;
  width: 100vw;
  background-color: var(--white-0);
  margin-top: 88px;
  padding: 0 16px;
}

@media (max-width: 768px) {
  main {
    gap: 32px;
  }
}

/* hero title section */
.hero-section {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
  color: var(--gray-900);
}

.hero-title {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.hero-title h1 {
  line-height: 56px;
  vertical-align: middle;
}

.hero-title h3 {
  color: var(--gray-200);
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  vertical-align: middle;
}

.main--signup {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.main--signup .input {
  flex: 1;
}

.main--signup .secondary-button {
  display: flex;
  gap: 4px;
}

@media (min-width: 768px) {
  .hero-section {
    flex-direction: row;
    justify-content: space-around;
  }

  .hero-title {
    max-width: 70%;
  }

  .main--signup {
    flex-direction: row;
    gap: 8px;
  }

  .main--signup .primary-button {
    min-width: 222px;
  }

  .main--signup > .secondary-button > span {
    display: none;
  }

  .popular-coins {
    border: 1px solid var(--white-200);
    padding: 8px 16px;
    border-radius: 6px;
    min-width: 350px;
    max-width: 50%;
  }
}


.popular-coins .popular-coins--header {
  display: flex;
  gap: 24px;
  border-bottom: 1px solid #ebebeb;
}

.popular-coins--header .popular-coins--tab {
  text-decoration: none;
  font-size: 14px;
  color: var(--gray-600);
  line-height: 24px;
}

.popular-coins--header .popular-coins--tab.active {
  border-bottom: 2px solid var(--secondary-500);
}

.popular-coins--section {
  display: none;
  margin-top: 16px;
}

.popular-coins--list .popular-coins--section.active {
  display: block;
}

.popular-coins--section > ul {
  display: flex;
  flex-direction: column;
  gap: 16px;
  list-style: none;
}

.popular-coins--item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.coins-symbol {
  display: flex;
  align-items: center;
  gap: 3px;
}

.coins-symbol > .coin-symbol {
  font-size: 14px;
  font-weight: 500;
}

.coins-symbol > .coin-name {
  font-size: 12px;
  font-weight: 400;
  color: var(--white-900);
}

/* why us section */
.why-us {
  color: var(--gray-900);
  padding: 16px;
  width: 100%;
}

.why-us--header {
  font-size: 24px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 40px;
}

.why-us--body {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.why-us--body > div {
  display: flex;
  justify-content: space-between;
}

.why-us--body-item {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.why-us--body > div > .why-us--body-item:last-child {
  text-align: end;
}

.why-us--body-item > span:last-child {
  font-size: 14px;
  font-weight: 400;
  color: var(--gray-200);
}

@media(min-width: 768px) {
  .why-us--body {
    flex-direction: row;
  }

  .why-us--body > div {
    flex: 1;
  }

  .why-us--body-item {
    flex: 1;
    align-items: center;
  }
}