footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 96px;
  width: 100vw;
  background-color: var(--white-0);
  margin-top: 88px;
  padding: 0 16px;
}

@media (max-width: 768px) {
  footer {
    gap: 32px;
  }
}

/* START TODAY SECTION */
.start-today {
  background-color: var(--white-200);
  color: var(--gray-900);
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  padding: 24px 0;
}

.start-today > .primary-button {
  padding: 10px 40px;
}

/* WHAT IS BTC SECTION */
.what-is-btc > h2 {
  margin-bottom: 40px;
  text-align: start;
}

.btc-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.content {
  position: relative;
  height: 190px;
  overflow: hidden;
  transition: all 0.5s ease;
}

.content.active {
  height: 350px;
  overflow: unset;
  transition: all 0.2s ease;
}

.blur-layer {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 35px;
  background-color: var(--white-0);
  opacity: 0.5;
  pointer-events: none;
}

.blur-layer.active {
  display: none;
}

.content > p {
  font-size: 14px;
  font-weight: 500;
  line-height: 23px;
}

.toggle-btn {
  font-size: 13px;
  font-weight: 500;
  color: var(--secondary-500);
  cursor: pointer;
  border: none;
  outline: none;
  background-color: transparent;
}

/* QUESTIONS SECTION */
.questions > h2 {
  margin-bottom: 40px;
  text-align: start;
}

.question-item {
  display: flex;
  flex-direction: column;
  gap: 16px;
  list-style: none;
  padding: 24px;
  border-radius: 16px;
}

.question-item.active {
  background-color: var(--white-200);
} 

.question-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.question-header > span {
  font-size: 18px;
  font-weight: 400;
}

.question-header > button {
  border: none;
  outline: none;
  background-color: transparent;
  color: var(--gray-500);
  transform: translateY(2px);
  cursor: pointer;
}

.answer {
  display: none;
  color: var(--gray-300);
}

.answer.active {
  display: block;
}