footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 96px;
  width: 100vw;
  background-color: var(--white-0);
  margin-top: 88px;
  padding: 0 16px;
}

@media (max-width: 768px) {
  footer {
    gap: 32px;
  }
}

/* START TODAY SECTION */
.start-today {
  background-color: var(--white-200);
  color: var(--gray-900);
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  padding: 24px 0;
}

.start-today > .primary-button {
  padding: 10px 40px;
}

/* WHAT IS BTC SECTION */
.what-is-btc > h2 {
  margin-bottom: 40px;
  text-align: start;
}

.btc-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.content {
  position: relative;
  height: 190px;
  overflow: hidden;
}

.content.active {
  height: max-content;
  overflow: unset;
}

.blur-layer {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 35px;
  background-color: var(--white-0);
  opacity: 0.5;
  pointer-events: none;
}

.blur-layer.active {
  display: none;
}

.content > p {
  font-size: 14px;
  font-weight: 500;
  line-height: 23px;
}

.toggle-btn {
  font-size: 13px;
  font-weight: 500;
  color: var(--secondary-500);
  cursor: pointer;
  border: none;
  outline: none;
  background-color: transparent;
}

/* QUESTIONS SECTION */
.faq > h2 {
  margin-bottom: 40px;
  text-align: start;
}

.faq-item {
  display: flex;
  flex-direction: column;
  gap: 16px;
  list-style: none;
  padding: 24px;
  border-radius: 16px;
  transition : all 0.3s ease
}

.faq-item.active {
  background-color: var(--white-200);
  transition : all 0.3s ease
}

.faq-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.faq-header:hover > span {
  color: var(--secondary-500);
}

.faq-header > span {
  font-size: 18px;
  font-weight: 400;
}

.faq-header > button {
  border: none;
  outline: none;
  background-color: transparent;
  color: var(--gray-500);
  transform: translateY(2px);
  cursor: pointer;
}

.answer {
  display: grid;
  grid-template-rows: 0fr;
  transition: grid-template-rows 0.4s ease, opacity 0.3s ease;
  opacity: 0;
  color: var(--gray-300);
}

.answer.active {
  grid-template-rows: 1fr;
  opacity: 1;
}

.answer > div {
  overflow: hidden;
}

/* FOOTER NAV SECTION */
.nav {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 16px;
}

.nav-column {
  padding: 0 24px;
  font-size: 16px;
  font-weight: 500;
}

.nav-column > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

.nav-column > div > svg {
  transform: translateY(4px);
}

.nav-list {
  display: none;
  flex-direction: column;
  gap: 8px;
  list-style: none;
}

.nav-list.active {
  display: flex;
}

.nav-item {
  padding: 8px;
  font-size: 14px;
  font-weight: 400;
}

.nav-item > a {
  text-decoration: none;
  color: var(--gray-300);
}

.nav-item > a:hover {
  color: var(--secondary-500);
}

@media (min-width: 768px) {
  .nav {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .nav-column {
    flex-wrap: wrap;
  }

  .nav-column > div {
    cursor: context-menu;
  }

  .nav-column > div > svg {
    display: none;
  }

  .nav-list {
    display: flex;
  }

  .nav-item {
    padding: 8px 0;
  }
}

/* COPYRIGHT SECTION */
.copyright {
  text-align: center;
  padding: 20px 0 50px;
  border-top: 1px solid var(--white-200);
}

.copyright {
  font-size: 14px;
  font-weight: 400;
  color: var(--gray-300);
}
