@font-face {
  font-family: "BinanceNova";
  src: url("../assets/fonts/BinanceNova-Medium.woff2");
}

html,
body {
  width: 100vw;
  height: 100vh;
  background-color: var(--white-0);
  overflow-x: hidden;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

body::-webkit-scrollbar {
  display: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "BinanceNova", Arial, Helvetica, sans-serif;
}

.primary-button {
  background-color: var(--primary-500);
  color: var(--gray-900);
  padding: 10px 12px;
  border: none;
  outline: none;
  border-radius: 6px;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
}

.secondary-button {
  background-color: var(--white-300);
  color: var(--gray-900);
  padding: 10px 12px;
  border: none;
  outline: none;
  border-radius: 6px;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
}

.svg-btn {
  background-color: transparent;
  color: var(--gray-500);
  border: none;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.input {
  border: 1px solid var(--white-500);
  outline: none;
  width: 100%;
  border-radius: 6px;
  padding: 12px;
  direction: ltr;
  color: #1a1d1e;
}

.container {
  background-color: var(--white-0);
  max-width: 1400px;
}

h2 {
  font-size: 24px;
  font-weight: 700;
  text-align: center;
}